<div class="card">
    <h2>Productos disponibles</h2>

    <!-- Filtro por estado -->
    <div class="p-d-flex p-ai-center p-jc-between p-mb-3">
        <div class="p-d-flex p-ai-center p-gap-2">
            <label for="estado">Estado:</label>
            <p-dropdown inputId="estado" [options]="[
          { label: 'Todos', value: '' },
          { label: 'Disponibles', value: 'DISPONIBLE' },
          { label: 'No disponibles', value: 'NO_DISPONIBLE' }
        ]" optionLabel="label" optionValue="value" placeholder="Seleccione estado"
                (onChange)="cargarProductos($event.value)">
            </p-dropdown>
        </div>

    </div>
    <hr>

    <!-- Mensaje de error -->
    <p-message *ngIf="error" severity="error" [text]="error"></p-message>

    <!-- Loading -->
    <div class="p-d-flex p-jc-center p-my-4" *ngIf="cargando">
        <p-progressSpinner styleClass="w-3rem h-3rem"></p-progressSpinner>
    </div>

    <!-- Tabla de productos -->
    <p-table *ngIf="!cargando && productos?.length" [value]="productos" [paginator]="true" [rows]="5"
        [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th class="text-right">Precio</th>
                <th>Unidad</th>
                <th>Estado</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-prod>
            <tr>
                <td>{{ prod.idProducto }}</td>
                <td>{{ prod.nombreProducto }}</td>
                <td>{{ prod.descripcion }}</td>
                <td class="text-right">{{ prod.precio | currency:'COP':'symbol-narrow' }}</td>
                <td>{{ prod.unidadMedida }}</td>
                <td>
                    <p-tag [value]="prod.estado ? 'Disponible' : 'No disponible'"
                        [severity]="prod.estado ? 'success' : 'danger'">
                    </p-tag>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No se encontraron productos.</td>
            </tr>
        </ng-template>
    </p-table>
</div>